body{
    background-image:url("../img/EZ.png");
}
nav{
    display:flex;
    justify-content: space-around;
    font-size:25px;
    color:rgb(206, 100, 100);
    font-family: 'Bebas Neue', cursive;
}

body{
    font-family: 'Bebas Neue', cursive;
    color:aliceblue;
    text-shadow: 10px 10px 10px #000000;
    text-align: center;
    
}

#filmForm{
    border-radius:50%;
    color:aliceblue;
    background-image: linear-gradient(to bottom, #fb1818, #ccc);
    background-size: cover;      
    display:flex;
    flex-wrap:nowrap;
    width:735px;
    margin:auto;
    text-shadow: 10px 10px 10px #000000;
   
}



#filmsList{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;

}

.filmCard{
    color:#000000;
    text-shadow: 0px 0px 10px #ffffff;
    position:relative;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    box-sizing: border-box;
    flex-wrap:wrap;
    width: 300px;
    height: 450px;
    background-image: linear-gradient(rgb(226, 99, 99),rgb(184, 243, 107));
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10%; 
    
    margin-top:25px;
}
#filmTitle{
    type:border-box;
    position:relative;
    z-index:1;
    font-size:24px;
    
}
#filmPoster{
    
    max-height:auto;
    box-sizing:border-box;
    width:230px;
    margin-left:15px;
    margin-right:15px;
    display: block;
    margin: 0 auto;
    border-radius:10%;
    
    
  }

  #ratingimg{
        box-shadow: 0 16px 32px 0 rgba(247, 244, 244, 0.2);
        border-radius: 5px 5px 0 0;
        width:300px;
        max-height:auto;
        overflow:hidden;
        mix-blend-mode: multiply;
        
  }
  #favourite{
    max-width:30px;
    max-height:30px;
  }
.watchedimg{
   
    border-radius: 5px 5px 0 0;
    max-width:50px;
    max-height:50px;
    overflow:hidden;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    right:20px;
}

.fav{
    type:border-box;
    max-width:50px;
    max-height:50px;
    position: absolute;
    top: 0;
    left: 20px;
}
#watched-hours{
    display:inline-block;
}

